<header id="header">
  <!--header-->
  <div class="header_top">
      <!--header_top-->
      <div class="container">
          <div class="row">
              <div class="col-xs-12 col-sm-6">
                  <div class="contactinfo">
                      <ul class="nav nav-pills">
                          <li><a href="#"><i class="fa fa-envelope"></i> sale@books.ua</a></li>
                          <li><a href="#"><i class="fa fa-phone"></i> +38 (057) 714 04 70</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                  <div class="shop-menu pull-right">
                      <ul class="nav navbar-pills">

                          <li>     							</li>
                          <li>
                              <span>
                                  <i class="fa fa-shopping-cart"></i>&nbsp; <a href="/cart/index?returnUrl=%2F">РљРѕСЂР·РёРЅР°</a>
                              </span>
                          </li>
                          <li>
                              <div id="cart">
                                  0 С‚РѕРІР°СЂ(РѕРІ),
                                  0 РіСЂРЅ.

                              </div>
                          </li>
                          <li>
                              <span><i class="fa fa-lock"></i>&nbsp;<a href="/Account/LogOn">Р’С…РѕРґ</a></span>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div><!--/header_top-->
  <div class="header-middle">
      <!--header-middle-->
      <div class="container">
          <div class="row">
              <div class="col-xs-12 col-sm-3 col-md-3">
                  <div class="logo pull-left">
                      <!-- <a href="/"><img src="/Content/themes/base/images/Logo1.jpg" alt="Р›РѕРіРѕС‚РёРї"></a> -->
                  </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6">
                  <div id="search" class="search_box">
                      <form action="/Product/Search" class="header__search" method="post">
                          <input id="searchData" name="searchData" placeholder="РџРѕРёСЃРє РїРѕ РЅР°Р·РІР°РЅРёСЋ, Р°РІС‚РѕСЂСѓ, ISBN, РёР·РґР°С‚РµР»СЊСЃС‚РІСѓ СЃСЂРµРґРё 25000 РєРЅРёРі" type="text" value=""><input type="submit" class="search-submit" value="">
                      </form>							<div id="autoSearch"></div>
                  </div>
              </div>

          </div>
      </div>
  </div><!--/header-middle-->

  <div class="header-bottom">
      <!--header-bottom-->
      <div class="container">
          <div class="row">
              <div class="col-xs-12 col-sm-12">
                  <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                  </div>
                  <div class="mainmenu">
                      <ul class="nav navbar-nav collapse navbar-collapse">
                          <li><a class="active" href="/">Р“Р»Р°РІРЅР°СЏ</a></li>
                          <li><a href="/home/about">Рћ РЅР°СЃ</a></li>
                          <li><a href="/home/delivery">Р”РѕСЃС‚Р°РІРєР° Рё РѕРїР»Р°С‚Р°</a></li>

                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div><!--/header-bottom-->
</header><!--/header-->
