<div class="" id="left_menu">

    <div class="sidebar-group">
        <div class="cat">РљРђРўРђР›РћР“</div>
        <!--category-productsr-->
        <div class="panel-group category-products" id="accordian">


            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordian" href="#medicina" class="" aria-expanded="true">
                            <span class="badge pull-right">
                                <i class="fa fa-caret-down"></i>
                            </span>
                        </a><a href="/product/list-books-group/medicina/root">РњРµРґРёС†РёРЅР°</a>

                    </p>
                </div>
                <div id="medicina" class="panel-collapse collapse in" aria-expanded="true" style="">
                    <div class="panel-body">


                        <ul style="padding-left:10px;font-size:13px;margin-top:5px;">
                            <li>
                                <a href="/product/list-books-group/medicina/medicina-specialjnaya">РњРµРґРёС†РёРЅР° СЃРїРµС†РёР°Р»СЊРЅР°СЏ</a>
                            </li>
                            <li>
                                <a href="/product/list-books-group/medicina/populyarnaya-i-netradicionnaya-medicina">РџРѕРїСѓР»СЏСЂРЅР°СЏ Рё РЅРµС‚СЂР°РґРёС†РёРѕРЅРЅР°СЏ РјРµРґРёС†РёРЅР°</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordian" href="#iskusstvo" class="collapsed" aria-expanded="false">
                            <span class="badge pull-right">
                                <i class="fa fa-caret-down"></i>
                            </span>
                        </a><a href="/product/list-books-group/iskusstvo/root">РСЃРєСѓСЃСЃС‚РІРѕ</a>

                    </p>
                </div>
                <div id="iskusstvo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">


                        <ul style="padding-left:10px;font-size:13px;margin-top:5px;">
                            <li>
                                <a href="/product/list-books-group/iskusstvo/aljbomi">РђР»СЊР±РѕРјС‹</a>
                            </li>
                            <li>
                                <a href="/product/list-books-group/iskusstvo/teoriya-iskusstva">РўРµРѕСЂРёСЏ РёСЃРєСѓСЃСЃС‚РІР°</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordian" href="#ezotericheskaya-literatura" class="collapsed" aria-expanded="false">
                            <span class="badge pull-right">
                                <i class="fa fa-caret-down"></i>
                            </span>
                        </a><a href="/product/list-books-group/ezotericheskaya-literatura/root">Р­Р·РѕС‚РµСЂРёС‡РµСЃРєР°СЏ Р»РёС‚РµСЂР°С‚СѓСЂР°</a>

                    </p>
                </div>
                <div id="ezotericheskaya-literatura" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">


                        <ul style="padding-left:10px;font-size:13px;margin-top:5px;"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- VK Widget -->

</div>